@charset "utf-8";

body{
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}

#googleAccountRegist{
    text-align: center;
}

#iosMailRegist{
    text-align: center;
}

#inviteTrue{
    text-align: center;
}

footer{
    text-align: right;
}
