@charset "utf-8";

/* iPhone X以下の端末 */
@media screen and (max-width:896px) {
    body {
        font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }

    code {
        font-family: 'Inconsolata', monospace, sans-serif;
        width: 90vw;
        display: none;
    }

    #title {
        height: auto;
        width: 90vw;
        border-style: solid;
        display: inline-block;
        padding: 1vw;
        margin: 1vw;
    }

    #text {
        text-align: left;
        width: 90vw;
        border-style: solid;
        display: inline-block;
        padding: 1vw;
        margin-bottom: 1vw;
    }
}

/* ------------------ */
@media screen and (min-width:896px) {
    body {
        font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }

    code {
        font-family: 'Inconsolata', monospace, sans-serif;
        width: 950px;
    }

    #title {
        height: auto;
        width: 950px;
        border-style: solid;
        display: inline-block;
        margin: 10px 0;
    }

    #text {
        text-align: left;
        height: auto;
        width: 930px;
        border-style: solid;
        display: inline-block;
        padding: 0px 10px;
    }

    footer {
        text-align: center
    }
}
